		<!-- Footer -->
			<div id="footer-wrapper">
				<section id="footer" class="container">
					<div class="row">
						<div class="8u">
							<section>
								<header>
									<h2>Posts</h2>
								</header>
								<ul class="dates">
								{% for post in site.posts offset: 0 limit: 5 %}
									<li>
										<span class="date">{{ post.date | date: "%B"}} <strong>{{ post.date | date: "%d"}}</strong></span>
										<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
										{{ post.excerpt }}
									</li>
								{% endfor %}
								</ul>
							</section>
						</div>
						<div class="4u">
							<section>
								<header>
									<h2>Who am I?</h2>
								</header>
								<a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/images/pic10.jpg" alt="" /></a>
								<p>
									I'm Caio Barbierato, an italian-brazilian software engineer since 2016.
								</p>
								<footer>
									<a href="/who.html" class="button">See more</a>
								</footer>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="4u">
							<!--<section>
								<header>
									<h2>Other</h2>
								</header>
								<ul class="divided">
									<li><a href="#">Lorem ipsum dolor sit amet sit veroeros</a></li>
								</ul>
							</section>-->
						</div>
						<div class="4u">
							<!--<section>
								<header>
									<h2>Other</h2>
								</header>
								<ul class="divided">
									<li><a href="#">Lorem ipsum dolor sit amet sit veroeros</a></li>
								</ul>
							</section>-->
						</div>
						<div class="4u">
							<section>
								<header>
									<h2>Find me on</h2>
								</header>
								<ul class="social">
									<li><a class="icon fa-twitter" href="https://twitter.com/caioaugusto"><span class="label">Twitter</span></a></li>
									<li><a class="icon fa-linkedin" href="https://www.linkedin.com/in/caiobarbierato/?locale=en_US"><span class="label">LinkedIn</span></a></li>
								</ul>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="12u">

							<!-- Copyright -->
								<div id="copyright">
									<ul class="links">
										<li>&copy; CAFB. All rights reserved.</li><li>Base template made by
									<a href="http://n33.co">AJ</a> for <a href="http://html5up.net/">HTML5 UP</li>
									</ul>
								</div>

						</div>
					</div>
				</section>
			</div>

	</body>
</html>
